﻿<%--Copyright (c) Aspose 2002-2014. All Rights Reserved.--%>

<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AsposeContentExport.ascx.cs" Inherits="Aspose.SiteFinity.ContentExport.AsposeContentExport" %>

<div class="exportButton">
    <asp:Button ID="WordsExportButton" runat="server" Text="Export to Word" OnClick="WordsExportButton_Click" />
    &nbsp;&nbsp;&nbsp;
    <asp:Button ID="PdfExportButton" runat="server" Text="Export to PDF" OnClick="PdfExportButton_Click" />    
</div>